* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    color: white;
    font-size: 4rem;
    margin: 15px;
    text-align: center;
}
body {
    background-color: #083b4c;
    font-family: sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;

}
.box {
    font-weight: 600;
    height: 90px;
    width: 90px;
    line-height: 90px;
    text-align: center;
    margin: 5px;
    background-color: #1389b2;
}
/* BACKGROUND  */
.fizz {
    background-color: #0cd6a1;
}
.buzz  {
    background-color: #ffd166;
}
.fizzbuzz {
    background-color: #f0466f;
}